@import url(styles/header.css);
@import url(styles/cards.css);
@import url(styles/fonts.css);
@import url(styles/main.css);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui;
  font-weight: 600;
  min-width: 1440px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--main {
  flex-direction: column;
  padding-bottom: 32px;
  padding-top: 0;
}

.section {
  width: 100%;
  margin: 32px 0;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.section__cards {
  display: flex;
  gap: 32px;
}

.section__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.button--icon-leading {
  width: 100%;
  padding: 16px 24px;
  border: none;
  border-radius: 16px;
  outline: 2px solid #1c1c1c;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.grid {
  display: grid;
  gap: 32px;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* навести полный порядок не успел */
