*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui;
  font-weight: 600;
  min-width: 1440px;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ХЕДЕР */
.header {
  background: linear-gradient(90deg, #fedd2c 0%, #f9c201 100%);
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav__item a {
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.contacts {
  text-align: right;
  color: #555;
}

.contacts__phone {
  font-size: 18px;
  line-height: 24px;
}

.contacts__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

/* МЕНЮ */
.section__title {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 32px;
}

.food-menu__list {
  list-style: none;
  display: flex;
  gap: 32px;
}

.food-menu__item a {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  width: 304px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: end;
  aspect-ratio: 1 / 1;
}

#pizza {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/pizza.png);
  background-size: contain;
}

#soups {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/soups.png);
  background-size: contain;
}

#hot-dishes {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/hot-dishes.png);
  background-size: contain;
}

#salads {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(images/salads.png);
  background-size: contain;
}
