.section__cards > li > a {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  width: 304px;
  aspect-ratio: 1 / 1;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: end;
}

/* Нужно исправить, пока не успел */
#pizza {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/menu/pizza.png);
  background-size: contain;
}

#soups {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/menu/soups.png);
  background-size: contain;
}

#hot-dishes {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/menu/hot-dishes.png);
  background-size: contain;
}

#salads {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(/images/menu/salads.png);
  background-size: contain;
}

.card-content {
  position: relative;
  border-radius: 16px;
  width: 100%;
  height: 360px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 0;
}

.card-content__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 32px;
  z-index: 1;
}

.card-content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  z-index: 10;
}

.card-content__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card-content__overlay--more {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    #0000001a;
}

.card-content__tags {
  position: absolute;
  padding: 32px;
  top: 0;
  left: 0;
  display: flex;
  gap: 8px;
}

.card-content__tag {
  background: #00000099;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}

.card-content__status-badges {
  position: absolute;
  padding: 32px;
  top: 0;
  right: 0;
  display: flex;
  gap: 8px;
  z-index: 10;
}

.card-content__status-badge {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
  padding: 8px;
}

.card-content__status-badge--yellow {
  background-color: #fedd2c;
  color: #1c1c1c;
}

.card-content__status-badge--grey {
  background-color: #727272;
  color: #fff;
}

/* навести полный порядок не успел */