:root {
  --color-black: #1c1c1c;
  --color-light-grey: #727272;
  --color-lighter-grey: #a6a6a6;
  --color-grey: #555;
  --color-dark-grey: #393939;
  --color-dark-white: #f4f4f4;
  --color-yellow: #fedd2c;
}
